<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2>Restaurent Application</h2>
    <div class="d-flex">
        <button class="btn btn-success">Add</button>
  </div>
  </div>
</nav>
<h1>
    Records Management system   
</h1>
<button class="btn btn-success">ADD</button>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Restaurent ID</th>
            <th scope="col">Cust. Name</th>
            <th scope="col">Cust. Email</th>
            <th scope="col">Cust. Mobile</th>
            <th scope="col">Cust. Add</th>
            <th scope="col">Cust. Service</th>
            <th scope="col">Cust. Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>tommy</td>
            <td>tommy@gmail.com</td>
            <td>465676y7</td>
            <td>Rajamandi</td>
            <td>Chai</td>
            <td>
                <button class="btn btn-info">Edit</button>&nbsp;
                <button class="btn btn-danger">Delete</button>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
