<table >
    <tr>
        <td>
            <h1>ngx-charts-line-chart</h1>
            <ngx-charts-line-chart
                [results]="productSalesMulti"></ngx-charts-line-chart>
        </td>
    </tr>

    <tr>
        <td>
            <h1>ngx-charts-area-chart</h1>
            <ngx-charts-area-chart
                [results]="productSalesMulti"></ngx-charts-area-chart>
        </td>
    </tr>

    <tr>
        <td>
            <h1>ngx-charts-line-chart</h1>
            <ngx-charts-area-chart-stacked
                [results]="productSalesMulti"></ngx-charts-area-chart-stacked>
        </td>
    </tr>
</table>
