<table>
    <th>AlertID</th>
    <th>Tenant</th>
    <th>Client</th>
    <th>Plant</th>
    <th>Camera </th>
    <th>Event </th>
    <th>Alert </th>
    <th>Thumbnail</th>
    <th>Action</th>
    <button (click)="showinfo()">add</button>
</table>

<style>
    table{
        position: absolute;
        top:150px;
        left:80px;
        border-bottom:1px solid grey;
        border-top:1px solid grey;
        width:90%;
        max-width:100%;
       
    }
    table th{
        padding:20px;
        color:white;
    }
</style>